:root {
  color-scheme: dark light;
}

*::-moz-selection {
  background-color: #ad1113;
  color: #ffffff;
}

*::selection {
  background-color: #ad1113;
  color: #ffffff;
}

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/*Header*/
header {
  width: 100%;
  height: 100vh;
  animation: mudarbg 15s infinite;
}

@keyframes mudarbg {
  0% {
    background: url("../geral/bg1.webp") center/cover no-repeat;
  }
  40% {
    background: url("../geral/bg2.webp") center/cover no-repeat;
  }
  70% {
    background: url("../geral/bg3.webp") center/cover no-repeat;
  }
  100% {
    background: url("../geral/bg1.webp") center/cover no-repeat;
  }
}
header #caixaHeaderUm {
  width: 100%;
  height: 20vh;
  position: fixed;
  inset: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

header #caixaHeaderUm .navbar {
  width: 100%;
  height: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header #caixaHeaderUm.visible .navbar {
  top: 0;
  background-color: #1a1a1a;
  z-index: 2;
}

header #caixaHeaderUm.hidden {
  top: -100%;
}

header .navbar-brand {
  width: 20%;
  height: 100%;
}

header .navbar-brand img,
footer .footer-logo img {
  width: 12rem;
  cursor: pointer;
}

header .navbar-nav {
  width: 60%;
  height: 100%;
}

header .navbar-nav .nav-item,
header .navbar-nav .nav-link,
footer .footer-list .nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 300;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  background: right/0% 100% no-repeat linear-gradient(#cb1517, #cb1517);
  transition: all 0.2s linear;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

header .navbar-nav .nav-item:hover,
footer .footer-list .nav-item:hover {
  background-size: 100% 100%;
  z-index: 0;
}

header .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.1em;
  font-weight: 300;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  border: none;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background: #ad1113;
}

header .caixaHeaderDois {
  width: 100%;
  height: 100%;
  font-size: 1.9em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  padding-top: 6rem;
}

header .caixaHeaderDois h1 {
  font-size: 2.2em;
  font-weight: 700;
}

header .caixaHeaderDois .informacoes-evento p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header .caixaHeaderDois .informacoes-evento p i {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header .caixaHeaderDois .botoes-header {
  width: 100%;
  height: 10%;
  gap: 0.5rem;
}

header .botoes-header .header-btn {
  font-size: 0.6em;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
}

header .botoes-header .header-btn:nth-child(1) {
  width: 10rem;
  height: 3rem;
  background-color: #cb1517;
  color: #ffffff;
}

header .botoes-header .header-btn:nth-child(2) {
  width: 8rem;
  height: 3rem;
  background-color: #ffffff;
}

header .botoes-header .header-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 0.5rem -0.4rem #ad1113;
}

/*Main*/
.main-titulo {
  width: 100%;
  height: 100%;
  font-size: 2.2em;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  position: relative;
}

.main-titulo::before {
  width: 4rem;
  height: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  bottom: -0.5rem;
  border-radius: 0.2rem;
  background-color: #1a1a1a;
}

.descricao {
  background-color: #d2d2d2;
  width: 100%;
  height: 15vh;
}

.descricao h2::before {
  bottom: 1.7rem;
}

#carousel img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#carousel .carousel-control-prev,
#carousel .carousel-control-next {
  width: 5rem;
  height: 5rem;
  background-color: #cb1517;
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

#carousel .carousel-control-prev:hover,
#carousel .carousel-control-next:hover {
  opacity: 1;
}

#carousel .carousel-indicators button {
  background-color: #ad1113;
}

#carousel .carousel-indicators button.active {
  background-color: #cb1517;
}

.btn-group {
  list-style: none;
}

.btn-group .btn {
  --bs-btn-border-radius: 0;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.75rem;
}

.btn-group .btn:hover {
  box-shadow: 0 0.5rem 0.5rem -0.4rem #ad1113;
}

#Parceiros {
  background-color: #d2d2d2;
}

.parceiro-logo {
  width: 12rem;
  height: 12rem;
}

.card-box {
  width: 100%;
  height: 100%;
}

.card {
  width: 20rem;
  height: 30rem;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 20rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s ease-in-out;
}

.card-body {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}

.card-title {
  font-size: 1.2em;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.card-button {
  width: 100%;
  height: 3rem;
  transition: all 0.2s ease-in-out;
}

.card-button:hover,
.card-button:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem #808080;
  transform: translateY(-0.25rem);
}

.card-image .card-img-top:hover {
  transform: scale(1.1);
}

#Endereco {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapa,
.localizacao {
  width: 50%;
  height: 100%;
  text-align: center;
}

.mapa iframe {
  width: 100%;
  height: 38rem;
  border: none;
}

.localizacao {
  padding: 1rem;
}

table {
  width: 60%;
  height: 100%;
  border-collapse: collapse;
  border: 0.01rem solid #1a1a1a;
  text-align: center;
}

table th {
  background-color: #ad1113;
  font-size: 1.2em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  text-transform: uppercase;
}

table tr {
  border: 0.01rem solid #1a1a1a;
  font-size: 1.1em;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
}

table tr td {
  padding: 0.5rem;
}

.informacoes-contatos {
  width: 100%;
  height: 40vh;
}

.contact-box {
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.01rem solid #cb1517;
}

.contact-box i {
  color: #2d2d2d;
  border: 0.01rem solid #2d2d2d;
  border-radius: 50%;
  padding: 1.25rem;
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 1.25rem;
  transition: all 0.2s ease-in-out;
}

.contact-box:hover i {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 0.5rem -0.4rem #ad1113;
}

.contact-box i:hover {
  background-color: #ad1113;
  color: #ffffff;
}

.contact-box p {
  font-size: 1em;
}

.contact-title {
  font-weight: bold;
  color: #cb1517;
}

#msg-box {
  width: 50%;
  height: 100%;
  margin-left: 3.5rem;
}

#msg-box h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
}

#contact-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}

#contact-form form {
  padding-top: 1rem;
}

#contact-form .form-control {
  margin-bottom: 1rem;
}

#contact-form textarea {
  resize: vertical;
  max-height: 20rem;
}

.form-control:focus {
  border-color: #5e5e5e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(94, 94, 94, 0.25);
}

#contact-form .form-button {
  width: 7.5rem;
  height: 3.125rem;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  margin: 0 auto;
  border-radius: 3rem;
  border: none;
  color: #cb1517;
  background-color: transparent;
  border: 0.1rem solid #cb1517;
  box-shadow: 0 0.5rem 0.5rem -0.4rem #ad1113;
  transition: all 0.2s ease-in-out;
}

#contact-form .form-button:hover {
  background-color: #cb1517;
  color: #ffffff;
  transform: translateY(-0.25rem);
}

.group {
  width: 100%;
  height: 3rem;
  position: relative;
  margin-bottom: 2.8125rem;
}

.group input {
  width: 100%;
  height: 3rem;
  font-size: 18px;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  display: block;
  border: none;
  border-bottom: 0.01rem solid #d2d2d2;
}

.group input:focus {
  outline: none;
}

.group label {
  font-size: 1.2em;
  font-weight: 500;
  color: #5e5e5e;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.group input:focus ~ label,
.group input:valid ~ label {
  font-size: 1em;
  top: -1.25rem;
}

.group input.validation:valid ~ .bar:before,
.group input.validation:valid ~ .bar:after {
  background: #00a650;
}

.group input.validation:invalid ~ .bar::before,
.group input.validation:invalid ~ .bar::after {
  background: #cb1517;
}

.validation:invalid ~ label {
  color: #cb1517;
  top: -1.25rem;
}

.validation:valid ~ label {
  color: #00a650;
}

.group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.group .bar:before,
.group .bar:after {
  content: "";
  height: 0.1rem;
  width: 0;
  bottom: 0.07rem;
  position: absolute;
  background: #5e5e5e;
  transition: all 0.2s ease;
}

.group .bar:before {
  left: 50%;
}

.group .bar:after {
  right: 50%;
}

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}

.group .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.group input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  0% {
    background: #5e5e5e;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
.group input:focus.validation:invalid ~ .highlight {
  animation: inputHighlighterError 0.3s ease;
}

@keyframes inputHighlighterError {
  0% {
    background: #cb1517;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
.group input:focus.validation:valid ~ .highlight {
  animation: inputHighlighterSucess 0.3s ease;
}

@keyframes inputHighlighterSucess {
  0% {
    background: #00a650;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
footer {
  background-color: #1a1a1a;
  padding: 0 2rem 2rem 2rem;
}

footer .footer-logo {
  width: 100%;
  height: 10rem;
  padding-left: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

footer .footer-logo img {
  padding-left: 0.5rem;
}

footer .social a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.25em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  background-color: #33383b;
  border-radius: 0.125rem;
  text-decoration: none;
  transition: all 0.25s;
}

footer .social a:hover {
  transform: scale(1.1);
}

footer .footer-list {
  font-size: 1.125em;
  font-weight: bold;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  padding: 0 0 0.625rem;
  list-style: none;
  transition: ease 0.25s;
}

footer .copyright {
  font-size: 1em;
  font-weight: 600;
  color: #5e5e5e;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  padding-left: 2rem;
}

/*Animate*/
.reveal {
  transition: opacity 0.5s, transform 0.5s;
}

/*Accordions*/
.accordion {
  border: 0.01rem solid rgba(203, 21, 24, 0.4);
  --bs-accordion-btn-focus-border-color: #cb1517;
  --bs-accordion-btn-focus-box-shadow: #cb1517;
  --bs-accordion-border-color: rgba(203, 21, 24, 0.4);
  --bs-accordion-active-color: #cb1517;
  --bs-accordion-active-bg: rgba(203, 21, 24, 0.1);
}

.accordion-button {
  color: #cb1517;
}

/*Dropdowns*/
.dropdown-menu {
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-padding-y: 0.1rem;
}

/*Loader*/
@keyframes waterfall {
  0% {
    opacity: 0;
    transform: translateY(-250%);
  }
  40%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(250%);
  }
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  word-wrap: break-word;
  text-align: center;
  background-color: #1a1a1a;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  inset: 0;
  z-index: 9999;
}

.loader .waterfall {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loader .waterfall div {
  animation: waterfall 1.5s infinite;
  background-color: #ad1113;
  height: 1.25rem;
  margin-top: -0.625rem;
  opacity: 0;
  position: relative;
  width: 1.25rem;
}

.loader .waterfall div:nth-of-type(1) {
  animation-delay: 0.25s;
  margin-left: -0.625rem;
}

.loader .waterfall div:nth-of-type(2) {
  animation-delay: 0.5s;
  margin-left: 0.9375rem;
}

.loader .waterfall div:nth-of-type(3) {
  animation-delay: 0.75s;
  margin-left: -2.1875rem;
}

.loader .waterfall div:nth-of-type(4) {
  animation-delay: 1s;
  margin-left: 2.5rem;
}

.loader .waterfall div:nth-of-type(5) {
  animation-delay: 1.25s;
  margin-left: -3.75rem;
}

/*Media Queries*/
@media (prefers-color-scheme: dark) {
  header #caixaHeaderUm.visible .navbar,
  main .descricao,
  main #Parceiros,
  main #Convidados .card,
  footer {
    background-color: #2d2d2d;
  }
  header .botoes-header .header-btn:nth-child(2),
  main #Sobre,
  main .accordion-body,
  main .main-titulo,
  main #Convidados .card .card-body .card-title,
  main #Convidados .card .card-body .btn,
  main #Convidados .modal .modal-body,
  main #Contatos .contact-box i,
  main .modal .modal-content,
  main #Endereco .localizacao table tr,
  main #Contatos .contact-box p,
  main #msg-box h2 {
    color: #ffffff;
  }
  .main-titulo::before,
  .modal .btn-close {
    background-color: #ffffff;
  }
  header .botoes-header .header-btn:nth-child(2),
  main #Sobre,
  main #Programacao,
  main #Convidados,
  main .modal .modal-content,
  main #Endereco,
  main #Contatos {
    background-color: #1a1a1a;
  }
  main .accordion-item,
  main .accordion-header,
  main .accordion-button {
    background-color: transparent;
  }
  main #Parceiros figure img {
    filter: drop-shadow(0.05rem 0.05rem 0 #5e5e5e);
  }
  main #Endereco .localizacao table tr {
    border: 0.01rem solid #ffffff;
  }
  main #Contatos .contact-box i {
    border: 0.01rem solid #5e5e5e;
  }
  main #contact-form textarea::-moz-placeholder {
    color: #5e5e5e;
  }
  main #Contatos .contact-box i:hover,
  main #contact-form textarea::placeholder {
    color: #5e5e5e;
  }
  main #contact-form .group input,
  main #contact-form textarea {
    background-color: transparent !important;
  }
  main .accordion-body > h6 {
    text-decoration: underline;
  }
}
@media (width <= 1070px) {
  header .navbar-nav .nav-item,
  header .navbar-nav .nav-link,
  footer .footer-list .nav-item {
    font-size: 1em;
  }
}
@media (width >= 992px) {
  .navbar-expand-lg .offcanvas {
    height: 80% !important;
  }
}
@media (width <= 992px) {
  header .navbar-toggler {
    border: none;
    font-size: 1.5em;
  }
  header .offcanvas {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  header .navbar-nav {
    width: auto;
    height: auto;
  }
  main #Parceiros figure {
    width: 100% !important;
  }
  main .localizacao,
  main .mapa {
    width: 100%;
    height: 100%;
  }
  main .informacoes-contatos {
    width: 100%;
    height: 70vh;
  }
  main .contact-box {
    width: 70%;
    height: 30vh;
  }
  main #msg-box {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  main #contact-form {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  main #contact-form form {
    padding-top: 2rem;
  }
  main .group {
    width: 90%;
    height: 100%;
  }
  main #contact-form textarea {
    width: 90%;
    height: 100%;
  }
  footer .footer-logo,
  footer .footer-logo img {
    padding: 0;
  }
}
@media (width <= 768px) {
  header .navbar-brand {
    width: 35%;
    justify-content: flex-start;
  }
  header .caixaHeaderDois h1 {
    font-size: 1.5em;
  }
  header .caixaHeaderDois p {
    font-size: 1em;
  }
  header .caixaHeaderDois .botoes-header a:nth-child(1) {
    width: 8rem;
    height: 2.5rem;
  }
  header .caixaHeaderDois .botoes-header a:nth-child(2) {
    width: 6rem;
    height: 2.5rem;
  }
  header .navbar-nav .nav-item,
  header .navbar-nav .nav-link,
  footer .footer-list .nav-item {
    font-size: 1.1em;
  }
  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    width: 3rem;
    height: 3rem;
  }
  main #Convidados .modal .modal-body {
    font-size: 0.9em;
    letter-spacing: -0.02em;
  }
}
@media (width <= 650px) {
  .btn-group {
    width: 100%;
    height: 100%;
  }
  .programacoes,
  main .btn-group {
    width: 100% !important;
  }
  .programacao-box {
    width: 100% !important;
  }
  table {
    width: 100%;
    height: 100%;
  }
}
@media (width <= 560px) {
  header .caixaHeaderDois h1 {
    font-size: 1.4em;
  }
  header .caixaHeaderDois p {
    font-size: 0.7em;
  }
  main .btn-group {
    flex-direction: column !important;
  }
  main .btn-group li {
    width: 100% !important;
  }
  .card-box {
    width: 90%;
  }
}
@media (width <= 450px) {
  header .navbar-brand {
    width: 55%;
  }
}/*# sourceMappingURL=style.css.map */